*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.appwrap{
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/99/bb/69/99bb69e4680b0bc9c4c806f5f0f87ad5.png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #578ff7;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 800px;
    padding: 40px;
    /* background-image: url(https://i.pinimg.com/originals/99/bb/69/99bb69e4680b0bc9c4c806f5f0f87ad5.png)  ; */
    /* background-repeat: no-repeat;  */
}

.title{
    max-width: 500px;
}
h2{
    font-size: 50px;
    
}
.restart{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid white;
    margin-top: 30px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
   
}
.space{
    width: 50px;
}

.restart:hover{
    background-color: lime;
    color: white;
}
.playerHead{
    display: flex;
    color: lime;
    font-size: 24px;
}

.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.board-tile{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 80px;   
}
.board-tile:hover{
    background-color: #eee;
    cursor: pointer;
}

.board-tile:not(:nth-child(3n)){
    border-right: 3px solid rgba(137,163,189,0.7);
}
.board-tile:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid rgba(137,163,189,0.7);
}
.playerX{
    flex: 1;
    /* border-bottom: 5px solid #eee; */
    padding-bottom: 8px;
    text-align: center;  
}
.playerX img, .playerO img{
    width: 50px;
    border-radius: 50%;
}
.playerO{
    flex: 1;
    /* border-bottom: 5px solid #eee; */
    padding-bottom: 30px;
    text-align: center;
}
.playerO.active{
    color: lime;
    /* border-color: #D7BAFB; */
}
.playerX.active{
    color: rgb(240, 46, 46);
    /* border-color: #42bed7; */
}
.tileX{
    color: rgba(255,255,255,0.1);
    width: 100%;
    background: URL("http://www.mariowiki.com/images/8/8b/Marioicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.tileO{
    color: rgba(255,255,255,0.1);
    width: 100%;
    background: URL("../assets/Luigi.png");
    background-size: 70%;
    background-repeat: no-repeat;
    margin-left: 30px;   
}
.audio{
    /* display: flex;
    justify-content: center; */
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;   
}
button{
    background-color: #578ff7;
    border: 1px solid white;
    border-radius: 20px; 
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); 
}

.tileWinner{
    background-color: purple;
}

@media(max-width:1000px){
    .wrapper{
        flex-direction: column;        
    }
    .leftSection{
        margin-bottom: 50px;   
    }
    .game{
        width:70vw;
        height: 70vw;   
    }
    h2{
        font-size: 30px;
        margin: 10px;
    }
    .restart{
        margin: 10px;
    }
    .space{
        height: 1px;
    }
    .monique{
        margin-top: 50px;
    }   
}
.winO {
    /* background-color: white; */
    width: 30vw;
    height: 30vw;
    position: fixed;
    top: 30vh;
    left: 30vw;
    border-radius: 20px; 
    visibility: hidden;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.winO img{
    width: 100%;
    max-height: 80vh;
    
}
.winX h3{
   text-shadow:
       3px 3px 0 red,
     -1px -1px 0 red,  
      1px -1px 0 red,
      -1px 1px 0 red,
       1px 1px 0 red;
}
.winO h3{
   text-shadow:
       3px 3px 0 lime,
     -1px -1px 0 lime,  
      1px -1px 0 lime,
      -1px 1px 0 lime,
       1px 1px 0 lime;
}
.winX{
    /* background-color: white; */
    width: 30vw;
    height: 30vw;
    position: fixed;
    top: 30vh;
    left: 30vw;
    border-radius: 20px; 
    visibility: hidden;
    font-size: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.winX img{
    width: 60%;  
}

.monique{
    background-color: #578ff7;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;  
}
.monique p {
    height: 95%;
}
